{% extends 'back.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>{{ 'create.new.ser'|trans }}</h1>

    {{ form_start(form) }}
        <ul class="articles" data-prototype="{{ form_widget(form.articles.vars.prototype)|e('html_attr') }}"></ul>
    {{ form_rest(form) }}
    <button class="btn">{{ 'form.create'|trans }}</button>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script>
        var $collectionHolder;

        // setup an "add a article" link
        var $addArticleButton = $('<button type="button" class="add_article_link">Add a article</button>');
        var $newLinkLi = $('<li></li>').append($addArticleButton);

        jQuery(document).ready(function() {
            $('select').formSelect();

            // Get the ul that holds the collection of articles
            $collectionHolder = $('ul.articles');

            // add the "add a article" anchor and li to the articles ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addArticleButton.on('click', function(e) {
                // add a new article form (see next code block)
                addArticleForm($collectionHolder, $newLinkLi);
            });

            function addArticleForm($collectionHolder, $newLinkLi) {
                $('select').formSelect();
                // Get the data-prototype explained earlier
                var prototype = $collectionHolder.data('prototype');

                // get the new index
                var index = $collectionHolder.data('index');

                var newForm = prototype;
                // You need this only if you didn't set 'label' => false in your articles field in TaskType
                // Replace '__name__label__' in the prototype's HTML to
                // instead be a number based on how many items we have
                // newForm = newForm.replace(/__name__label__/g, index);

                // Replace '__name__' in the prototype's HTML to
                // instead be a number based on how many items we have
                newForm = newForm.replace(/__name__/g, index);

                // increase the index with one for the next item
                $collectionHolder.data('index', index + 1);

                // Display the form in the page in an li, before the "Add a article" link li
                var $newFormLi = $('<li></li>').append(newForm);
                $newLinkLi.before($newFormLi);
            }
        });
    </script>
{% endblock %}